{% block body %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <a  href="#" style="font-size: 1.5rem; background: #000; color: red; text-decoration: none; margin-left: 20%;">X {{ message }}, {{category}}</a> 
    {% endfor %}
  {% endif %}
{% endwith %}
    <link rel="stylesheet" href="{{ url_for('static', filename='add_student.css') }}"> 
    <h1 style="text-align: center;">ADD STUDENT</h1>
    <form action="/add_student" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="college">College:</label>
        <input type="text" id="college" name="college" required>
        <br>
        <label for="department">Department:</label>
        <input type="text" id="department" name="department" required>
        <br>
        <label for="level">Level:</label>
        <input type="text" id="level" name="level" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required>
        <br>
        <input type="submit" value="Add Student">
    </form>
{% endblock %}
