{% block content %}
<link rel="stylesheet" type="text/css" href="static/student_dashboard.css">
<h2>Mark Attendance</h2>
<form action="/mark_attendance/{{course_id}}" method="POST">
  <label for="course_id">Course:</label>
  <select id="course_id" name="course_id">
    {% for course in student.courses %}
      <option value="{{ course.id }}">{{ course.name }}</option>
    {% endfor %}
  </select>
  <br>
  <label for="date">Date:</label>
  <input type="date" id="date" name="date" value="{{ date }}">
  <br>
  <label for="time">Time:</label>
  <input type="time" id="time" name="time" value="{{ time }}">
  <br>
  <input type="submit" value="Mark Attendance">
</form>
{% endblock %}
